.grid-container-top{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item-top{
}

#title{
    text-align: center;
}

#info{
    float: right;
}

.div-container-content{
    display: inline-grid;
    grid-template-columns: auto auto;
}

.grid-item-content{
    border-style: solid;
    border-width: thin;
}
