.grid-container-top{
    display: grid;
    grid-template-columns: auto auto auto;
    border-width: thin;
    border-style: solid;
    
}

.grid-item-top{
}

#title{
    text-align: center;
}

#info{
    float: right;
}

.div-container-content{
    display: grid;
    grid-template-columns: auto 100%;
    grid-column-gap: 40px;
}

.grid-item-content{
    border-width: thin;
    border-style: solid;
    max-width: 200px;
    min-width: 180px;
}

.foundItems{
    border-width: thin;
    border-style: solid;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    padding: 10px;
}

.product{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin: auto;
    border-width: thin;
    border-style: solid
}

.product img{
    height: auto;
    width: 50%;
    max-height: auto;
    max-width: 75px;
    padding: 5px;
}
