.grid-container-top{
    display: grid;
    grid-template-columns: auto auto auto;
    border-width: thin;
    border-style: solid;
}

.grid-item-top{
}

#title{
    text-align: center;
}

#info{
    float: right;
}

.div-container-content{
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
}

.grid-item-content{
    border-width: thin;
    border-style: solid;
}

.filterMenu{
    width: 20%;
}

.foundItems{
    width: 80%;
}
