@media only screen and (max-width: 980px) {
    .grid-container-top{
        display: none;
    }

    .mobileLogo{
        display: block;
        text-align: center;
        border-width: thin;
        border-style: solid;
    }

    .mobileLogo img{
        min-height: 150px;
        min-width: auto;
    }

    .grid-item-content{
        display: none;
    }

    .div-container-content{
        grid-template-columns: auto;
    }

    .product{
        display: grid;
        grid-template-columns: 25% 65% 10%;
        width: 100%;
        margin: auto;
        border-width: thin;
        border-style: solid;
        font-size: 200%;
    }

    .product img{
        height: 50%;
        width: auto;
        max-height: 300px;
        max-width: auto;
        padding: 5px;
    }
}
