@media only screen and (max-width: 980px) {
    .grid-container-top{
        display: none;
    }

    .mobileLogo{
        display: block;
        text-align: center;
        border-width: thin;
        border-style: solid;
    }

    .mobileLogo img{
        min-height: 150px;
        min-width: auto;
    }

    .grid-item-content{
        display: none;
    }

    .div-container-content{
        grid-template-columns: auto;
    }

    .product{
        display: grid;
        grid-template-columns: 25% auto 25%;
        width: 100%;
        margin: auto;
        border-width: thin;
        border-style: solid;
        font-size: 200%;
    }

    .product img{
        height: auto;
        width: auto;
        max-height: 250pt;
        max-width: 100%;
        padding: 5px;
    }

    .product button {
        font-size: 125%;
        width: auto;
        margin: 10%;
        /* display: flex;
        align-items: center; */
    }

    .product p {
        margin: 5%;
    }

    .product h1 {
        margin: 5%;
        font-size: 150%;
    }

    .productDescription a {
        text-decoration: none;
        color: black;
    }

    .productPage {
        display: grid;
        grid-template-columns: 100%;
        width: auto;
        margin: auto;
        padding-top: 1%;
        padding-right: 7%;
        padding-bottom: 1%;
        padding-left: 7%;
        border-width: thin;
        border-style: solid;
    }
    
    .productPage img {
        height: auto;
        width: auto;
        max-height: 500px;
        max-width: auto;
        padding: 5px;
    }

    .productPage h1 {
        font-size: 400%;
    }
    
    .productPageDescription {
        font-size: 200%;
        width: 100%;
    }

    /* SLIDER */
.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px auto 0px auto;
    width: 90px;
    height: 51px;
  }

  .switch div {
    vertical-align: middle;
    height: 51pt;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 39px;
    width: 39px;
    left: 6px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(39px);
    -ms-transform: translateX(39px);
    transform: translateX(39px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* END OF SLIDER */

    .loginForm div {
        display: block;
        width: 90%;
        /* min-width: 350px; */
        padding: 2% 5% 2% 5%;
        margin: auto;
        border-radius: 10pt;
        background-color: gray;
    }
    
    .loginForm p {
        margin: 1pt 5pt 1pt 5pt;
    }
    
    .loginForm h1 {
        margin: 5pt;
        text-align: center;
        font-family: Helvetica;
        font-size: 50pt;
    }
    
    .loginForm input {
        display: block;
        width: auto;
        font-size: 35pt;
        border-radius: 50pt;
        border-style: none;
        padding: 5pt 30pt 5pt 30pt;
        outline-style: none;
        margin: 15pt auto 15pt auto;
    }
    
    .loginForm button {
        display: block;
        font-size: 35pt;
        margin: auto;
        border-radius: 50pt;
        border-style: none;
        padding: 5pt 30pt 5pt 30pt;
    }
    
    .loginFormRegisterToggle {
        text-align: end;
        font-size: 35pt;
        margin: 10%;
        padding: 50pt;
        /* width: fit-content; */
    }
}
