@media only screen and (max-width: 980px) {
    .header {
        border-radius: 20pt;
    }

    .header-personal button {
        font-size: 25pt;
        margin: 10pt;
    }

    .header-personal form {
        margin: 0pt;
    }

    .header-personal img {
        max-width: 35pt;
        max-height: auto;
        margin: 5pt;
        border-radius: 50pt;
        border-style: solid;
        border-color: #C3073F;
    }

    .header-personal p {
        color: #ffffff;
        font-size: 15pt;
    }

    button {
        font-size: 20pt;
    }

    .filterMenu {
        display: none;
    }

    .div-container-content {
        grid-template-columns: auto;
    }

    .foundItems{
        padding: 0;
    }

    .product {
        display: grid;
        grid-template-columns: 25% auto 25%;
        font-size: 160%;
    }

    .product img {
        height: auto;
        width: auto;
        max-height: 250pt;
        max-width: 100%;
        padding: 5px;
    }

    .product button {
        font-size: 100%;
        width: auto;
        margin: 10%;
    }

    .productPage {
        border-radius: 20pt;
        padding: 25pt;
    }

    .productPage p {
        font-size: 250%;
        width: 100%;
    }

    .productPage h4 {
        font-size: 100%;
    }

    .productPage div {
        font-size: 80%;
    }

    /* SLIDER */
    .switch {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-top: 0px auto 0px auto;
        width: 90px;
        height: 51px;
    }

    .switch div {
        vertical-align: middle;
        height: 51pt;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 39px;
        width: 39px;
        left: 6px;
        bottom: 6px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(39px);
        -ms-transform: translateX(39px);
        transform: translateX(39px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    /* END OF SLIDER */

    .loginForm div {
        width: auto;
        padding: 2% 5% 2% 5%;
        margin: 1% auto;
        border-radius: 20pt;
    }

    .loginForm p {
        margin: 1pt 5pt 1pt 5pt;
    }

    .loginForm h1 {
        font-size: 50pt;
    }

    .loginForm input {
        font-size: 35pt;
        border-radius: 50pt;
        padding: 5pt 30pt 5pt 30pt;
        margin: 15pt auto 15pt auto;
    }

    .loginForm button {
        font-size: 35pt;
    }

    .loginFormRegisterToggle {
        font-size: 35pt;
    }

    .editForm {
        width: auto;
        font-size: 35pt;
        border-radius: 20pt;
        padding: 30pt;
    }

    .editForm input{
        font-size: 35pt;
    }

    .editForm button {
        margin-top: 50pt;
        font-size: 35pt;
    }

    .profile {
        width: auto;
        font-size: 35pt;
        border-radius: 20pt;
        padding: 30pt;
    }

    .profile input {
        font-size: 35pt;
    }

    .profile button {
        font-size: 35pt;
        margin-top: 30pt;
    }
}
