.grid-container-top {
    display: grid;
    grid-template-columns: auto auto auto;
    border-width: thin;
    border-style: solid;
}

.grid-container-top a {
    text-decoration: none;
    color: black;
}

.mobileLogo {
    display: none;
}

.header a {
    text-decoration: none;
    color: black;
}

#title {
    text-align: center;
    text-decoration: none;
}

body {
    background-color: whitesmoke;
}

.info {
    float: right;
}

.loginBtn {
    float: right;
    background: linear-gradient(to bottom, #d6d6d6 5%, #bfbfbf 100%);
    background-color: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 23px;
    font-weight: bold;
    padding: 32px 32px;
    text-decoration: none;
}

.loginBtn:hover {
    background: linear-gradient(to bottom, #bfbfbf 5%, #d6d6d6 100%);
    background-color: #bfbfbf;
}

.loginBtn:active {
    position: relative;
    top: 1px;
}

.div-container-content {
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 10px;
}

.grid-item-content {
    border-width: thin;
    border-style: solid;
    max-width: 200px;
    min-width: 180px;
}

.foundItems {
    border-width: thin;
    border-style: solid;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    padding: 10px;
}

.product {
    display: grid;
    grid-template-columns: 125pt auto 10%;
    width: 100%;
    margin: auto;
    border-width: thin;
    border-style: solid;
}

.product img {
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 100%;
    padding: 5px;
}

.product button {
    margin: 10%;
}

.product p {
    margin: 10pt;
}

.product h1 {
    margin: 10pt;
    font-size: 150%;
}

.productDescription a {
    text-decoration: none;
    color: black;
}

.productPage {
    display: grid;
    grid-template-columns: 50% 50%;
    width: auto;
    height: auto;
    margin: auto;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-left: 5%;
    border-width: thin;
    border-style: solid;
}

.productPage img {
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: auto;
    padding: 5px;
}

.productPageDescription {
    /* position: relative; */
    width: 65%;
    margin: 1px;
}

/* SLIDER */
.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px auto 0px auto;
    width: 30px;
    height: 17px;
  }

  .switch div {
    vertical-align: middle;
    height: 17pt;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* END OF SLIDER */

.loginForm div {
    display: block;
    width: 15%;
    min-width: 350px;
    padding: 0.5% 1% 0.05% 1%;
    margin: auto;
    border-radius: 10pt;
    background-color: gray;
}

.loginForm p {
    margin: 1pt 5pt 1pt 5pt;
}

.loginForm h1 {
    margin: 5pt;
    text-align: center;
    font-family: Helvetica;
    font-size: 15pt;
}

.loginForm input {
    display: block;
    width: 100%;
    border-radius: 50pt;
    border-style: none;
    padding: 5pt 10pt 5pt 10pt;
    outline-style: none;
    margin: 5pt auto 5pt auto;
}

.loginForm button {
    display: block;
    margin: auto;
    border-radius: 10pt;
    border-style: none;
    padding: 5pt 10pt 5pt 10pt;
}

.loginFormRegisterToggle {
    text-align: end;
    margin: 10%;
    padding: 50pt;
    /* width: fit-content; */
}