.header {
    display: grid;
    grid-template-columns: auto auto;
    border-width: thin;
    border-style: none;
    border-radius: 7pt;
    background-color: hsl(240, 1%, 31%);
    padding: 5pt;
}

.header a {
    text-decoration: none;
    color: #ffffff;
}

.grid-container-top a {
    text-decoration: none;
    color: black;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 10pt;
    text-decoration: none;
    font-family: Helvetica;
    color: #ffffff;
    font-size: 30pt;
}

body {
    background-color: #1A1A1D;
    font-family: Helvetica;
}

input[type=text],
input[type=password] {
    display: block;
    width: 100%;
    border-radius: 50pt;
    border-style: none;
    padding: 5pt 10pt 5pt 10pt;
    outline-style: none;
    margin: 5pt auto 5pt auto;
}

button {
    color: #ffffff;
    font-family: Helvetica;
    font-weight: bold;
    background-color: #4e4e50;
    border-radius: 30pt;
    border-style: solid;
    border-color: #C3073F;
    cursor: pointer;
    padding: 5pt 10pt 5pt 10pt;
}

button:hover {
    border-color: #950740;
}

label {
    color: #ffffff;
}

.info {
    float: right;
}

.header-personal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header-personal button {
    font-size: 15pt;
    margin: 10pt;
}

.header-personal form {
    margin: 0pt;
}

.header-personal img {
    max-width: 35pt;
    max-height: auto;
    margin: 5pt;
    border-radius: 50pt;
    border-style: solid;
    border-color: #C3073F;
}

.header-personal p {
    color: #ffffff;
    font-size: 15pt;
}

.div-container-content {
    display: grid;
    margin: 1% auto auto auto;
    grid-template-columns: 200px auto;
    grid-column-gap: 10px;
}

.filterMenu {
    border-width: thin;
    border-style: none;
    max-width: 200px;
    min-width: 180px;
    height: fit-content;
    border-radius: 7pt;
    padding: 10pt;
    background-color: #4e4e50;
}

.filterMenu p {
    color: #C3073F;
    font-weight: bold;
}

.filterMenu label {
    color: #ffffff;
}

.mobile-filter-button {
    display: none;
}

.foundItems {
    border-width: thin;
    border-style: none;
    display: grid;
    height: fit-content;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    padding: 0px 0px 10px 10px;
}

.product {
    display: grid;
    grid-template-columns: 125pt auto 25%;
    width: auto;
    border-width: thin;
    border-style: none;
    border-radius: 7pt;
    background-color: #4e4e50;
    padding: 5pt;
}

.product button {
    margin: 10%;
}

.product img {
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 100%;
}

.product-image {
    border-style: solid;
    border-radius: 10pt;
    background-color: #1A1A1D;
    border-width: 2pt;
    border-color: #C3073F;
    padding: 5pt;
    height: fit-content;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product p {
    margin: 10pt;
    color: #ffffff;
}

.product h1 {
    display: inline-block;
    margin: 10pt 2pt 10pt 10pt;
    font-size: 150%;
    color: #ffffff;
}

.product h2 {
    display: inline-block;
    margin: 10pt 10pt 10pt 2pt;
    font-size: 150%;
    color: #C3073F;
}

.product-description a {
    text-decoration: none;
}

.product-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.product-buttons button {
    margin-right: 5pt;
}

.productPage {
    display: grid;
    grid-template-columns: 50% 50%;
    width: auto;
    height: auto;
    margin: 1% auto;
    padding: 1% 5% 1% 5%;
    border-width: thin;
    border-style: none;
    border-radius: 7pt;
    background-color: #4e4e50;
}

.productPage div {
    color: #950740;
}

.productPage-title div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.productPage button {
    width: fit-content;
    height: fit-content;
}

.productPage h1 {
    color: #C3073F;
}

.productPage h4 {
    color: #ffffff;
}

.productPage img {
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: auto;
    padding: 5px;
    border-radius: 7pt;
    border-color: #6f2232;
}

.productPage p {
    width: 65%;
    margin: 1px;
    color: #ffffff;
}

.errorText {
    font-size: 150%;
    color: #ffffff;
}

/* SLIDER */
.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px auto 0px auto;
    width: 30px;
    height: 17px;
}

.switch div {
    vertical-align: middle;
    height: 17pt;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #C3073F;
}

input:focus+.slider {
    box-shadow: 0 0 1px #C3073F;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* END OF SLIDER */

.loginForm div {
    width: 15%;
    min-width: 350px;
    padding: 0.5% 1% 0.05% 1%;
    margin: 1% auto;
    border-radius: 10pt;
    background-color: #4e4e50;
    vertical-align: middle;
    text-align: center;
}

.loginForm p {
    margin: 1pt 5pt 1pt 5pt;
}

.loginForm h1 {
    margin: 5pt;
    text-align: center;
    vertical-align: middle;
    font-size: 15pt;
}

.loginForm button {
    vertical-align: middle;
    margin: auto;
}

.loginFormRegisterToggle {
    text-align: end;
    margin: 10%;
    padding: 50pt;
}

.editForm {
    width: 15%;
    min-width: 350px;
    padding: 0.5% 1% 0.05% 1%;
    margin: 1% auto;
    border-radius: 10pt;
    background-color: #4e4e50;
    vertical-align: middle;
}

.editForm textarea {
    width: 100%;
}

.editForm div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.editForm-image {
    border-style: solid;
    border-radius: 10pt;
    background-color: #1A1A1D;
    border-width: 2pt;
    border-color: #C3073F;
    margin: 5pt;
    padding: 5pt;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editForm-image img {
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 100%;
}

.profile {
    width: 15%;
    min-width: 350px;
    padding: 0.5% 1% 0.05% 1%;
    margin: 1% auto;
    border-radius: 10pt;
    background-color: #4e4e50;
    vertical-align: middle;
}

.profile div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.adminContent{
    text-align: center;
    border-width: thin;
    border-style: none;
    border-radius: 7pt;
    background-color: hsl(240, 1%, 31%);
    padding: 5pt;
}
