.grid-container-top{
    display: grid;
    grid-template-columns: auto auto auto;
    border-width: thin;
    border-style: solid;
}

.mobileLogo{
    display: none;
}

#title{
    text-align: center;
    text-decoration: none;
}

.info{
    float: right;
}

.loginBtn {
    float: right;
	background:linear-gradient(to bottom, #d6d6d6 5%, #bfbfbf 100%);
	background-color:#d6d6d6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:32px 32px;
	text-decoration:none;
}
.loginBtn:hover {
	background:linear-gradient(to bottom, #bfbfbf 5%, #d6d6d6 100%);
	background-color:#bfbfbf;
}
.loginBtn:active {
	position:relative;
	top:1px;
}

.div-container-content{
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 1.5%;
}

.grid-item-content{
    border-width: thin;
    border-style: solid;
    max-width: 200px;
    min-width: 180px;
}

.foundItems{
    border-width: thin;
    border-style: solid;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    padding: 10px;
}

.product{
    display: grid;
    grid-template-columns: 25% 65% 10%;
    width: 100%;
    margin: auto;
    border-width: thin;
    border-style: solid
}

.product img{
    height: 50%;
    width: auto;
    max-height: 150px;
    max-width: auto;
    padding: 5px;
}
